.idea
*/.idea
*/.cache
/__pycache__
*/__pycache__
**/__pycache__
data/
result/
models/
logs/
*/data/
**/data/
***/data/
****/data/
*****/data/
*/dataset/
**/dataset/
***/dataset/
****/dataset/
*****/dataset/
*/.ipynb_checkpoints/
**/.ipynb_checkpoints/
***/.ipynb_checkpoints/
****/.ipynb_checkpoints/
*/*.zip
**/*.zip
***/*.zip
****/*.zip
*****/*.zip
*/*.csv
**/*.csv
***/*.csv
****/*.csvls
*****/*.csv


