.idea
*/.idea
*/.cache
/__pycache__
*/__pycache__
**/__pycache__
data/
result/
*/data/
**/data/
***/data/
****/data/
*****/data/
*/.ipynb_checkpoints/
**/.ipynb_checkpoints/
***/.ipynb_checkpoints/
****/.ipynb_checkpoints/
*/*.csv
**/*.csv
***/*.csv
*****/*.csv
config/private_config.py


