#####################################
#                                   #
#  Do not leak the file to anyone!  #
#                                   #
#####################################


class PrivateConfig:
    EMAIL_ID = ""

    EMAIL_PASSWORD = ""

    JQ_USER_NAME = ""

    JQ_PASSWORD = ""

    WEB_HOOK_KEY = ""