<html>
<meta charset="UTF-8">
<head>
    <title>墨林期货系统</title>
</head>
<body>
<div style="width:100%;text-align:center">
    <br/>
    <h1>合约信息</h1>
    <h2>交易品种: {{future_code}}({{symbol_name}})</h2>
    <h2>合约现价: {{now_price}}</h2>
    <h2>交易所保证金: <font color=ff0000>{{deposit}}</font></h2>
    <h2>手续费: 开仓={{open_warehouse}} | 平昨={{release_yesterday}} | 平今={{release_today}}</h2>
    <h1>--------------------------------------------------------</h1>
    <h1>交易【{{exchange_cnt}}】手, 资金账户至少需要 {{result}} 元</h1>
    <h2>杠杆 = <font size=10 color=ff0000>{{lever}}</font></h2>
    <h2>价格涨10个点，浮盈 <font size=10 color=ff0000>{{profit}}</font> 元</h2>
</div>
</body>
</html>