<html>
<meta charset="UTF-8">
<head>
    <title>墨林期货系统</title>
</head>
<body>
<div style="width:100%;text-align:center">
    <br/>
    <h1>合约基本信息</h1>
    <h2>交易品种: {{future_code}} ({{symbol_name}})</h2>
    <h2>交易所保证金: <font color=ff0000>{{deposit}}</font></h2>
    <h2>我的杠杆: <font size=10 color=ff0000>{{lever}}</font></h2>
    <h2>交易所手续费: 开仓={{open_warehouse}} | 平昨={{release_yesterday}} | 平今={{release_today}}</h2>
    <h2>合约乘数: {{multiplier}}</h2>
    <h2>最小变动价位: {{min_hop}}</h2>
    <h1>--------------------------------------------------------</h1>
    <h2>交易【{{exchange_cnt}}】手, 资金账户至少需要 {{result * exchange_cnt}} 元, 手续费需要 {{fee * exchange_cnt}} 元</h2>
    <h2>合约现价: {{now_price}}</h2>
    <h2>最小跳动的浮亏比例: {{min_hop_loss_ratio}}</h2>
    <h2>要实现盈利<font size=10 color=ff0000>1%</font>，只需要赚取 <font size=10 color=ff0000>{{basis_hop_cnt}}</font> 跳</h2>
    <h2>价格涨10个点，浮盈 <font size=10 color=ff0000>{{profit}}</font> 元</h2>
</div>
</body>
</html>