<html>
<meta charset="UTF-8">
<head>
    <title>墨林期货系统</title>
</head>
<body>
<div style="width:100%;text-align:center">
    <h1>计算买入期货的最少资金</h1>
    <form method="post" action="http://{{ip_port}}/cal_min_capital">
        <br/>
        <h4>合约代码示例: <font color=ff0000>AP2305 或 ap2305</font></h4>
        <h2>合约代码: <input type="text" name="symbol" style="font-size:18px;width:150px;height:30px;"/><br></h2>
        <h2>买入 <input type="text" name="exchange_cnt" value="1" style="font-size:18px;width:170px;height:30px;"/> 手</h2>
        <h2>止损点数: <input type="text" name="loss_point" value="0" style="font-size:18px;width:150px;height:30px;"/></h2>
        <br/>
        <input type="submit" value="查 询" name="submit" style="font-size:22px;width:80px;height:40px;"/>
    </form>
</div>
</body>
</html>