<html>
<meta charset="UTF-8">
<head>
    <title>墨林期货系统</title>
</head>
<body>
<div style="width:100%;text-align:center">
    <h1>稳定薄利的理念</h1>
    <form method="post" action="http://{{ip_port}}/cal_min_capital">
        <br/>
        <h2>每天稳定赚取: <input type="text" name="percent" style="font-size:18px;width:50px;height:30px;"/> %<br></h2>
        <h2>持续 <input type="text" name="day" style="font-size:18px;width:150px;height:30px;"/> 天</h2>
        <br/>
        <input type="submit" value="查 询" name="submit" style="font-size:22px;width:80px;height:40px;"/>
    </form>
</div>
</body>
</html>