<html>
<meta charset="UTF-8">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>墨林股票系统</title>
</head>
<body>
<div style="width:100%;text-align:center">
    <h1>个股历史数据查询</h1>
    <form method="post" action="http://{{ip_port}}/query_stock">
        K线级别: <select name="frequency">
        <option value="d" SELECTED>DAY</option>
        <option value="60">MIN60</option>
        <option value="30">MIN30</option>
        <option value="15">MIN15</option>
        <option value="5">MIN5</option>
    </select><br>
        <br/>
        股票代码: <input type="text" name="gid"/><br>
        <br/>
        开始日期: <input type="text" name="start_pt"/><br>
        <br/>
        结束日期: <input type="text" name="end_pt"/><br>
        <br/>
        <input type="submit" value="提交" name="submit"/>
    </form>
</div>
</body>
</html>